@import url('https://fonts.googleapis.com/css?family=Poppins:300');

* {
  box-sizing:border-box;
  padding:0;
  margin:0;
}
body, html {
  height:100%;
  width:100%;
  background:#f9f9eb;
  font-family:Poppins;
  font-weight:300;
  scroll-behavior:smooth;
}

.head {
  background:rgba(17, 105, 107, 1);
  position:fixed;
  width:100%;
  top:0;
  height: 60px;
  color: #f9f9eb;
  transition: 0.5s ease-in-out;
  z-index:1;
}
.show {
  background:rgba(17, 105, 107, 0.8);
}
.head ul {
  list-style:none;
  float:right;
  margin-right: 15px;
}
.link {
  display:inline-block;
  margin-right:10px;
  margin-top: 16px;
}

.cont {
  max-width: 1100px;
  margin: 0 auto;
  width:100%;
}

.link a {
  text-decoration:none;
  color:inherit;
  padding: 0 5px 17px 5px;
}

.link a:hover {
  border-bottom: 3px solid #f9f9eb;
}

#main {
  //margin-top: 60px;
  text-align:center;
  width:100%;
}

.hero {
  height:100%;
  text-align:center;
  padding-top:60px;
  overflow:hidden;
  width:100%;
}

.nom {
  padding:25px 0;
  height:43%;
}
.nom h1 {
  text-transform:uppercase;
  font-size:40px;
  font-weight:300;
}
.nom h3 {
  font-weight:300;
}
.icons{
  margin: 25px 0 0 0;
}
.fab {
  margin: 0 10px;
  color: #11696b;
  transition: 0.2s all;
  backface-visibility: hidden;
}
.fab:hover {
  transform:scale(1.2);
  opacity:0.6;
}

hr {
  color: black;
  border: 1px dashed;
  margin-top:20px;
}
#skill {
  background: #11696b;
  color: #f9f9eb;
  height:100%;
  padding-top:25px;
  width:100%;
}
h2 {
  letter-spacing:0.05em;
}
#skill ul {
  list-style:none;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
#skill li {
  margin: 30px 15px;
}

.bar {
  width:250px;
  height: 15px;
  border-radius: 10px;
  background:#f9f9eb;
  overflow:hidden;
  margin-top:10px;
}
.bar > span {
  display: block;
  height: 100%;
  background: #083031;
}

#projects {
  padding-top:60px;
}

#projects h3 {
  font-weight:300;
}

.pro {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

.pro img {
  width:400px;
  max-width:100%;
  margin: 30px 20px 0 20px;

}

.pro img:hover {
  transform:scale(1.05);
  transition: 0.2s all;
}
.pro span {
  color: #11696b;
}
#contact { 
  background: #11696b;
  padding: 20px 0;
  margin-top: 60px;
  width:100%;
}

#contact a {
  text-decoration: none;
  color: #f9f9eb;
  font-weight:300;
}
#contact a:hover {
  opacity: 0.5;
  transition: all 0.5s;
}
.spa{
  display:none;
}
.eng {
  display:none;
}

@media (max-width: 856px) {
  .hero {
    height:auto;
  }
}
@media (max-width: 896px) {
  .pro img {
    width: 350px;
  }
}
@media (max-width: 460px) {
  #contact a {
    font-size:5vmin;
    padding: 0 5px;
  }
  .pro img {
  width:300px;
  max-width:100%;
}
}
@media (max-width: 360px) {
  .pro img {
    width:260px;
  }
}